@import "tailwindcss";

@theme {
  --font-family-sans: 'Poppins', sans-serif;
  --color-primary: #4ade80;
  --color-primary-dark: #22c55e;
  --color-secondary: #fbbf24;
  --color-accent: #f97316;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
